.container{
    width: 1200px;
    margin: 20px auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.banner_left{
    width: 20%;
}
.banner_right{
    width: 80%;
    height: 300px;
}
.banner_right img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
/* end banner */

/* products */
.products{
    width: 1200px;
    margin: 50px auto;
}
.products__title{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: #b20000;
}
.products__title h2{
    font-size: 22px;
    padding-left: 20px; 
    color: white;
    line-height: 60px;
    text-transform: uppercase;
}
.products__items{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
}
.products__item{
    width: 19%;
    background-color: #fff;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 10px;
    padding: 10px 20px;
}
.flag_top {
    display: flex;
}
.flag_top p:first-child{
    font-size: 11px;
    background-color: #e1e1e3;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 10px;
    color: #333;
}
.flag_top p:last-child {
    font-size: 12px;
    background-color: #ff0100;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}
.product_img{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.product_img img{
    width: 190px;
}
.product_info_title{
    font-size: 15px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #333;
    margin-bottom: 5px;
}
.product_info_price{
    display: flex;
}
.product_info_price p:first-child{
    font-size: 20px;
    color: #ff0100;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.product_info_price p:last-child {
    font-size: 15px;
    color: #989898;
    font-weight: normal;
    text-decoration: line-through;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.star{
    color: rgb(255, 200, 0);
}