*{
    margin: 0;
    padding: 0;
}
* a{
    text-decoration: none;
}
.slick-arrow{
    background-color: black;
}
.container-form-login{
    width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.container-form-login p{
    font-size: 14px;
    color: #2e2e2e;
}
.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
}